// sass --watch style.scss:style.css

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@500;700&display=swap');
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.contest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .movies {
        display: flex;
        justify-content: center;
        align-items: center;

        @include max800 {
            margin-bottom: 0;
        }

        #movie1, #movie2 {
            max-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 50px;

            @include max800 {
                margin: 0 10px;
            }

            @include max800 {
                max-width: 100px;
            }

            

            p {
                height: 70px;
                text-align: center;
            }

            .rate_result {
                display: none;
            }

            img {
                width: 250px;
                height: 375px;
                object-fit: cover;

                @include max800 {
                    width: 100px;
                    height: 150px;
                }
            }
        }


        .global {
            text-align: center;        
        
            .button {
                visibility: hidden;
            }
            #result {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 50px;
                margin-bottom: 50px;
        
                @include max800 {
                    margin-bottom: 0px;
                }
            }
        
            a {
                color: black;
                text-decoration: none;
                border-bottom: solid 1px black;
            }
        }
    }

    .button {
        text-align: center;
        margin-bottom: 20px;
        padding: 15px 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.3);

        @include max800 {
            padding: 5px 10px;
        }
    }

    .button:hover {
        background-color: black;
        color: white;
        transition:0.5s;
    }


    .timer {

        p {
            width: 300px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 30px;
        }


        #reset {
            display: none;
        }
    }
}