// sass --watch style.scss:style.css

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@500;700&display=swap');
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.contest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .movies {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        @include max800 {
            margin-bottom: 0;
        }

        div {
            max-width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 50px;

            @include max800 {
                margin: 0 10px;
            }

            @include max800 {
                max-width: 100px;
            }

            p {
                height: 70px;
                text-align: center;
            }

            img {
                width: 250px;
                height: 375px;
                object-fit: cover;

                @include max800 {
                    width: 100px;
                    height: 150px;
                }
            }
        }
    }

    .button {
        padding: 15px 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.3);
        margin-bottom: 20px;

        @include max800 {
            padding: 5px 10px;
        }
    }

    .button:hover {
        background-color: black;
        color: white;
        transition:0.5s;
    }


    #result {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        margin-bottom: 50px;

        @include max800 {
            margin-bottom: 0px;
        }
    }

    a {
        color: black;
        text-decoration: none;
        border-bottom: solid 1px black;
    }

}